body {
  font-family: "Bricolage Grotesque", sans-serif;
}
header {
  width: 100%;
  z-index: 900;
}
main {
  padding-top: 230px;
  padding-bottom: 2rem;
}
.logo {
  max-height: 150px;
}

.container {
  gap: 20px;
}
.card {
  width: calc(100% / 3 - 40px / 3);
}
