body {
  font-family: "Bricolage Grotesque", sans-serif;
}
header {
  width: 100%;
  z-index: 900;
}
main {
  padding-top: 230px;
  padding-bottom: 2rem;
}
.logo {
  max-height: 150px;
}

.container {
  gap: 20px;
}
.card {
  width: calc(100% / 3 - 40px / 3);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;

  .spinner-border {
    width: 200px;
    height: 200px;
    font-size: 2rem;
  }
}
